@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat right bottom;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100% ;   
    
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;    
    background: url('../imagens/frame-iphone2.png') no-repeat;
}

iframe#tela{
    border: 0;
    position: relative;
    top: 2px;
    left: 6px;
    
    height: 522px ;

    
}